<h1>Molecules</h1>

<table>
  <tr>
    <th>Code</th>
    <th>Title</th>
    <th>Course</th>
  </tr>

<% @molecules.each do |molecule| %>
  <tr>
    <td><%= link_to molecule.code, molecule %></td>
    <td><%= molecule.title %></td>
    <td><%= link_to molecule.course.code, molecule.course if molecule.course %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Molecule', new_molecule_path %>
