<h1>Programmes</h1>


<% @cohorts.each do |cohort| %>
<p> 
  <b><%= link_to cohort.code, cohort %></b>
  <%= cohort.name %>
  <% if cohort.academic %>
    (<%= link_to cohort.academic, cohort.academic %>)
  <% end %>
</p>
<% end %>

<br />

<% if can? :create, Cohort %>
  <%= link_to 'New Cohort', new_cohort_path %>
<% end %>
