<% content_for :side do %>
  <h3>Programmes</h3>

  <ul>
    <% @instances_by_cohort.keys.each do |cohort| %>
      <li>
        <%= link_to_unless_current cohort, instances_path(:cohort => cohort) %>
      </li>
    <% end %>
  </ul>
<% end %>

<% if @cohort %>
<% cohort = @cohort %>
<% instances = @instances_by_cohort[cohort] %>
<%= render :partial => 'cohort', :locals => { :cohort => cohort, :instances => instances } %>

<% else %>

<% @instances_by_cohort.each do |cohort, instances| %>
<%= render :partial => 'cohort', :locals => { :cohort => cohort, :instances => instances } %>
<% end %>
<% end %>
