<% content_for :side do %>
  <h3>Programmes</h3>

  <ul>
    <% Instance::STREAMS.each do |stream| %>
      <li>
        <%= link_to_unless_current stream, instances_path(:stream => stream) %>
      </li>
    <% end %>
  </ul>
<% end %>

<% if @stream %>
<% stream = @stream %>
<% instances = @instances_by_stream[stream] %>
<%= render :partial => 'stream', :locals => { :stream => stream, :instances => instances } %>

<% else %>

<% @instances_by_stream.each do |stream, instances| %>
<%= render :partial => 'stream', :locals => { :stream => stream, :instances => instances } %>
<% end %>
<% end %>
