#banner, #navigation, #side {
  display: none;
}

#side {
  width: 0em;
}

#main {
  padding-top: 0ex;
  padding-left: 0em;
  margin-left: 0em;
}

a {
  text-decoration: none;
}

a:visited {
  color: #333333
}


table {
  display: block;
//  page-break-after: always;
  break-after: always;
}

table.times-long, table.year {
  page-break-after: always;
}

table.dates {
  border: 0px solid black;
}

table.dates th, table.dates td {
  border: thin solid black;
}

.page-break { 
  display: block;
  page-break-before: always; 
}

body, td, th, td.times-l, td.times-v, td.times-m {
    font-family: "Times New Roman", Times, serif;
    font-size: x-small;
    line-height: 120%;
}

td.times-v {
    width: 200px;
}

td.times-long {
    width: 19%;
}

@page {
  size: portrait;
  margin: 1cm;
}
