#banner, #navigation, #side {
  display: none;
}

#side {
  width: 0em;
}

#main {
  padding-top: 0ex;
  padding-left: 0em;
  margin-left: 0em;
}

a {
  text-decoration: none;
}

a:visited {
  color: #333333
}


table {
  display: block;
  page-break-after: always;
  break-after: always;
}

.page-break { 
  display: block;
  page-break-before: always; 
}

@page {
  size: landscape;
  margin: 2cm;
}
