#banner, #navigation, #side {
  display: none;
}

#side {
  width: 0em;
}

#main {
  margin-left: 0em;
}

table {
  display: block;
  page-break-after: always;
  break-after: always;
}

.page-break { 
  display: block;
  page-break-before: always; 
}

@page {
  size: landscape;
  margin: 1cm;
}
