<h1>Listing projects</h1>

<table>
  <tr>
    <th>Student</th>
    <th>Supervisor</th>
    <th>Examiner</th>
  </tr>

<% @projects.sort_by { |project| project.author.last_first }.each do |project| %>
  <tr>
      <td><%= project.author.last_first %></td>
    <td><%= project.supervisor.a_last %></td>
    <td><%= project.examiners.map { |x| x.a_last }.to_sentence %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Project', new_project_path %>
