// Place all the styles related to the loads controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

div.volatile:hover tr.volatile {
    display: table-row;
}

tr.volatile {
    display: none;
    td {
	font-size: 80%;
	line-height: 80%;
    }
}

tr.load-top {
    background-color: rgb(205,245,255);
    td {
	padding: 0px;
	padding-top: 2px;
    }
}

tr.load-bot {
    background: rgb(225,245,255);
    color: rgb(5,5,5);
    td {
	font-size: x-small;
	padding-top: 0px;
    }
}


table.times-long {
    border-collapse: collapse;
    border-bottom: 2px solid grey;
    border-right: 2px solid grey;
}

td.times-long {
    width: 200px;
    border-left: 2px solid grey;
    border-top: 2px solid grey;
    background: rgb(210,248,164);
    vertical-align: top;
}

th.times-long {
    background-color: yellow;
//    width: 60px;
    height: 20px;
    border-left: 2px solid grey;
    border-top: 2px solid grey;
}


td.times-m {
    width: 40%;
    text-align: left;
    background: rgb(157,248,157);
    font-size: small;
}

td.times-l {
    width: 20%;
    text-align:center;
    background: rgb(177,248,177);
    font-size: small;
}

td.times-v {
    width: 40%;
    text-align: right;
    background: rgb(137,248,137);
    font-size: small;
}

table.times-inner {
    width: 100%;
    border-collapse: collapse;
}

.times-inner a {
    text-decoration: none;
}
