// Place all the styles related to the loads controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

div.volatile:hover tr.volatile {
    display: table-row;
}

tr.volatile {
    display: none;
    td {
	font-size: 80%;
	line-height: 80%;
    }
}

tr.load-top {
    background-color: rgb(205,245,255);
    td {
	padding: 0px;
	padding-top: 2px;
    }
}

tr.load-bot {
    background: rgb(225,245,255);
    color: rgb(5,5,5);
    td {
	font-size: x-small;
	padding-top: 0px;
    }
}
