// Place all the styles related to the schoolmaster application here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#headline {
}

#banner {
  a {
      color: #eee;
      text-decoration: none;
  }
  background: #B03060;
  padding-top: 10px;
  padding-bottom: 10px;
  border-bottom: 2px solid;
  font: small-caps 40px/40px Verdana,"Helvetica",sans-serif;
  font-weight: bold;
  color: white;
  text-align:center;
  text-shadow: 0px 1px 1px #fff;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#541424), to(#B03060));
}

#navigation {
  background: #B03060;
  border-bottom: 2px solid;
  color: white;
}

#navigation #home {
  a {
      color: #FFFFFF;
      text-decoration: none;
  }
  float: left;
  width: 51em;
}

#navigation #login { 
  a {
      color: #FFFFFF;
      text-decoration: none;
  }
  margin-left: 52em;
  text-align: right;
}

#side {
  a {
      text-decoration: none;
  }
  h3 {
    color: #461326;
  }
  ul {
    list-style-type: none;
    padding: 0pt;
    margin: 0pt;
    font-size: 12px;
    line-height: 15px;
  }
  float: left;
  padding-top: 1em;
  padding-left: 1em;
  padding-bottom: 1em;
  width: 16em;
}

#main {
  margin-left: 17em;
  padding-top: 4ex;
  padding-left: 2em;
}

.edit-head {
  display: inline;
}

.edit {
  display: inline;
  font-size: smaller;
  vertical-align: super;
  a {
    text-decoration: none;
  }
}

#alert {
  color: red;
}

.alert {
  color: red;
}

.unlocked {
  color: lightgray;
}

.mark-prelim {
  display: inline;
  color: darkgray;
  background: #ccffff;
  font-weight: bold;
  border: 2px solid #b36666;
  padding: 2px;
  border-radius: 6px;
}

.mark {
  display: inline;
  color: darkblue;
  background: lightblue;
  font-weight: bold;
  border: 2px solid maroon;
  padding: 2px;
  border-radius: 6px;
}
