<h3><%= link_to @committee.student, @committee.student %></h3>

<h1>Editing GRC member</h1>

<%= render 'form' %>

<hr />
<%= link_to 'Delete', @committee, :confirm => 'Are you sure?', :method => :delete %> |
<%= link_to 'Back', @committee.student %>
