<p>
  <b>Title:</b>
  <%= @proposal.title %>
</p>

<p>
  <b>Supervisor:</b>
  <%= @proposal.academic %>
</p>


<%= link_to 'Edit', edit_proposal_path(@proposal) %> |
<%= link_to 'Back', proposals_path %>
