<h1>Listing brokers</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Template</th>
  </tr>

<% @brokers.each do |broker| %>
  <tr>
    <td><%= link_to broker.name, broker %></td>
    <td><%= broker.template %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Broker', new_broker_path %>
